<div class="row">
  <div class="small-6 small-centered columns">
    
    <div data-alert class="alert-box primary">
      <strong>Yay!</strong> - Provider DAta Received.
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box secondary">
      <strong>Mistake</strong> - Education Data Not Received
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box info radius">
      <strong>Oops</strong> - Data corrupted
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box alert radius">
      <strong>Error</strong> - Provider data Erroneous.
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box success">
      <strong>Yay!</strong> - You accomplished a simple task!
      <a href="#" class="close">&times;</a>
    </div>
    <div data-alert class="alert-box warning">
      <strong>Caution</strong> - A word I don't understand.
      <a href="#" class="close">&times;</a>
    </div>
    
  </div>
	</div>