<section>
<form name="regform" ng-submit="register()" novalidate>
    <!-- <div class="textintro">
      <h1>{{message}}</h1>
    </div> -->
<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

      <div class="row column">
        <h4 class="text-center">{{message}}</h4>
      <fieldset>
        <label>Onwership Description
          <input type="text" name="Ownership" placeholder="xxxxxxxxxx" ng-model="user.Ownership" ng-required="true">
          <p class="error" ng-show="regform.Ownership.$invalid && regform.Ownership.$touched">Must be a valid Ownership</p>
        </label>
        <label>Owner ID 
          <input type="text" name="ownerid" placeholder="xxxxxxxx" ng-model="user.ownerid" ng-required="true">
          <p class="error" ng-show="regform.ownerid.$invalid && regform.ownerid.$touched">ownerid  ng-required="true"</p>
        </label>
        <label>Token
          <input type="text" name="Token" placeholder="xxxxxxxxx" ng-model="user.Token" ng-required="true">
          <p class="error" ng-show="regform.Token.$invalid && regform.Token.$touched">Token required</p>
        </label>
        <label>SHA3 Key
          <input type="text" name="key"  placeholder="xxxxxxxxxx" ng-model="user.key" ng-required="true">
          <p class="error" ng-show="regform.key.$invalid && regform.key.$touched">Enter Valid PhoneNumber</p>
        </label>
        <label>Digital Signature
          <input type="text" name="digisign" placeholder="xxxxxxxxxxx" ng-model="user.digisign" ng-required="true">
          <p class="error" ng-show="regform.password.$invalid && regform.password.$touched">Password is ng-required="true"</p>

        </label>

        <!-- <p><a href="#/viewmodal" data-reveal-id="myModal" class="button round">Upload</a></p> -->
        
      </fieldset>
        

        <p><!-- a type="submit" class="button expanded">Register</a> --><!-- <button type="button" class="success button">Register</button> -->
          <input type="submit" id="submit" class="button expanded" value="Update" /></p>
      </div>
  </div>
</form>
</section>  