<!-- <div class="icon-bar vertical five-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-like.svg" >
    <label>Like</label>
  </a>
</div>

<div class="icon-bar large-vertical four-up">
  <a class="item">
    <img src="../assets/img/images/fi-home.svg" >
    <label>Home</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-bookmark.svg" >
    <label>Bookmark</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-info.svg" >
    <label>Info</label>
  </a>
  <a class="item">
    <img src="../assets/img/images/fi-mail.svg" >
    <label>Mail</label>
  </a>
</div> -->
<div class="row medium-centered">
	<center><h4> Actions or Notifications</h4></center>
</div>
<div class="row large-offset-4">
	<div class="small-10 large-10 columns">
		<!-- <div class="row bump">
   			<div class="small-12 large-6 columns">
      			<div class="row">
         			<div class="profile-card">
           				 <div class="small-12 large-4 columns">
              				 <a href="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg">
                  			<img src="https://s3.amazonaws.com/uifaces/faces/twitter/BillSKenney/128.jpg" alt="profile image"> </a>
            			</div>
            		<div class="small-12 large-8 columns">
               			<h4><span>Provider</span></h4>
              			<p><i class="fi-mail"></i><span> provider@payer.com</span></p>
               			<p><i class="fi-social-twitter"></i>#provider</p>
               			<p><i class="fi-web"></i>thisisprovider@mprovider.com</p>
            		</div>
         -->    		<div class="row collapse">
               			<ul class="button-group even-3">
                  			<!-- <li><a href="#" class="button"> Actions  <span> 32 </span></a></li> -->
                  			<li><a href="#" class="button"> Pending <span> 0 </span></a></li>
                  			<li><a href="#" class="button"> Completed <span>11 </span></a></li>
               			</ul>
            			</div>
         		<!-- </div> 
      		</div> -->
   		<!-- </div> -->
	</div>
</div>	

<div class="row medium-centered large-offset-3" width="500">
	<div class="small-10 large-10 columns">
<table>
  <thead>
    <tr>
      <th width="100">From</th>
      <th width="1000">Subject</th>
      <th width="100">Accept</th>
      <th width="100">Reject</th>
    </tr>
  </thead>
  <tbody>
    !
    <!-- <tr>
      <td width="100">Cigna</td>
      <td>Contract Signing notification</td>
      <td width="100"><a href="#"><i class="fi-check"></i></a></td>
      <td width="100"><a href="#"><i class="fi-x"></i></a></td>
    </tr>
    <tr>
      <td width="100">United Healthcare</td>
      <td>Healthcare News Conference in Hartford</td>
      <td width="100"><a href="#"><i class="fi-check"></i></a></td>
      <td width="100"> <a href="#"><i class="fi-x"></i></a></td>
    </tr>
     <tr>
      <td width="100">Ledger Update</td>
      <td>Please	 Upload Tax Identification details</td>
      <td width="100"><a href="#"><i class="fi-check"></i></a></td>
      <td width="100"><a href="#"><i class="fi-x"></i></a></td>
    </tr>
    <tr>
      <td width="100">Cigna</td>
      <td>Contract Signing notification</td>
      <td width="100"><a href="#"><i class="fi-check"></i></a></td>
      <td width="100"><a href="#"><i class="fi-x"></i></a></td>
    </tr>
    <tr>
      <td width="100">United Healthcare</td>
      <td>Healthcare News Conference in Hartford</td>
      <td width="100"><a href="#"><i class="fi-check"></i></a></td>
      <td width="100"> <a href="#"><i class="fi-x"></i></a></td>
    </tr> -->
  </tbody>
</table>	
</div>
</div>
</div>

